h1, h2{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
header{
    background-color: #aaaaaa;
}


nav{
    /* box-sizing: border-box; */
    border-right: 1px solid black;
    color: #000000;
    /* display: inline-block; */
    float: left;
    height: 100vh;
    background-image: linear-gradient(to right,  #fff, #a3c2c2) ;
    border-radius: 7px;
}

a {
    /* border: 1px solid black; */
    font-family: 'Reem Kufi Regular',Arial;
    text-transform: capitalize;
    font-variant: small-caps;
    font-size: 120%;
    color: #000066;
    background-color: #cccccc;
    display: block;
    padding: 10px;
    text-decoration: none;
    padding-left: 50px;
    background: url("../images/frisbee.png") no-repeat left center;
    background-size: 38px;
    transition-property: all;
}

a:hover{
    color: #0000ff;
    background-position: 4px 4px;
}
h2 {
    color: #13158b;
    text-align: left;
}
aside{
    display: none;
}
main{
    float: left;
    display: inline;
    /* display: inline-block; */
    padding-left: 20px;
    width: 70%;
}