h1, h2{
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
header{
    background-color: #aaaaaa;
}
nav{
    color: #000000;
    
}
a {
    color: #000000;
    background-color: #cccccc;
}
section{
    background-color: #888888;
}
h2 {
    color: #13158b;
    text-align: left;
}
aside{
    display: none;
}